:root {
    --main-color: #d3ad7f;
    --hovered-background: #fff;
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255,255,255,0.3);
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
}

.header {   
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: #1d1b1b  0.2rem solid;
    background-color: black;
}

.Imagem {
    margin-left: 2rem;
    cursor: default;
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    border-top-left-radius: 30rem;
    border-top-right-radius: 30rem;
    border-bottom-right-radius: 30rem;
    border-bottom-left-radius: 30rem;
    border: rgb(41, 223, 35) solid;
}

section nav p {
    color: white;
    font-size: 3.5rem;
    cursor: default;

}

section {
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    padding-left: 20px;

}

section a {
    padding-left: 50px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}

.Icon-Instagram {
    max-width: 45px;
    max-height: 45px;
    width: auto;
    height: auto;
}

.Icon-Linkedin {
    max-width: 45px;
    max-height: 45px;
    width: auto;
    height: auto;
}

.Rede-Social {
    align-items: center;
    font-size: 2rem;
    padding-right: 1.5rem;
    padding-left: 0.5rem;
    color: #fff;
    text-transform: capitalize;
}

.Rede-Social:hover {
    color: #2196f3;
}

.Contato {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 48%;
}

.Biografia {
    color: white;
    font-size: 2rem;
    padding-top: 20rem;
    padding-left: 8rem;
}

.One-Paragrafo {
    padding-top: 2rem;
}

.Two-Paragrafo {
    padding-top: 2rem;
}

.Three-Paragrafo {
    padding-top: 2rem;
}

.Four-Paragrafo {
    padding-top: 2rem;
}

footer {
    position: fixed;
    background-color: rgb(49, 48, 48);
    color: #fff;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
}

@media screen and (max-width: 768px) {

p {
    padding: 0;
    margin: 0;
}

.Biografia {
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 25rem;
}

.Contato {
    padding-left: 1.0rem;
    flex-direction: column;
    text-align: center;
}

section nav p {
    font-size: 2.5rem;
    padding-right: 1.5rem;
    padding-left: 1rem;
}

.Imagem {
    max-width: 120px;
    max-height: 120px;
    width: auto;
    height: auto;
    margin: 0;

}

section {
    padding: 9px;
}


}
